@namespace xlink url(http://www.w3.org/1999/xlink);

html {
    border: 0px #006699 solid;
    border-left-width: 15px;
}
	
body {
    margin: 15px;
    padding: 0px;
    background-color: #ffffff;
    color: black;
    font-family: helvetica;
    font-size: 14px;
    line-height: 1.4em;
}

a.special:visited {
    color: black;
    text-decoration: none;
}

a.special:link {
    color: black;
    text-decoration: none;
}

a.special:active {
    color: black;
    text-decoration: none;
}

a.special:hover {
    color: black;
    text-decoration: none;
}

a.omdoc {
    color: #660000;
    font-size: .8em;
}    

td.omdoc {
    font-size: normal;
    font-family: helvetica;
}

h2.omdoc {
    color: blue;
}

/* Module MOBJ */
span.math {
    font-style: oblique;
    color: #006600;
}

div.displaymath {
    font-style: oblique;
    display: block;
    text-align: center;
    color: #006600;
}

math {
    color: #006600;
}

*[xlink|href] {
    cursor: pointer;
}

/* Module DC */
div.dc-titleblock {
    width: 80%;
    font-size: medium;
    border-style: inset;
    border-color: #222222;
    border-width: 2pt;
    margin: 0px;
    margin-bottom: 20px;
    border: 0px #cc9900 solid;
    border-bottom-width: 2px;
    padding-bottom: 12px;
    line-height: normal;
}

div.dc-title {
    background-color: #6699cc;
    color: #ffffff;
    display: block;
    padding: 7px 70px 7px 15px;
    margin: -15px -15px -15px -15px;
    border: 0px #cc9900 solid;
    border-bottom-width: 2px;
    font-family: verdana, tahoma, century gothic, gothic l, arial, helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -2;
    text-align: left;
}

div.dc-authors:before, div.dc-date:before, div.dc-description:before {
    padding: 0px;
    margin: 0px;
    margin-left: -36px;
    display: inline;
    font-weight: bold;
}

div.dc-authors:before {
    content: "Written by: ";
}

div.dc-date:before {
    content: "Date: ";
}

div.dc-description:before {
    content: "Description: ";
}

div.dc-authors, div.dc-date, div.dc-description {
    display: block;
    margin: 2px 15px;
    margin-left: 36px;
}

div.dc-authors {
    padding-top: 30px;
}

div.omdoc-titlebox {
    font-weight: bold;
}

div.omdoc-counterexample, div.omdoc-exercise {
    display: block;
    margin: 15px 72px;
    padding: 10px;
    border: 1px #000000 outset;
    color: #000000;
}

span.omdoc-titleword {
    color: #336699;
    text-transform: uppercase;
    font-size: 11px;
}

/* Module DOC */
div.omdoc-omtext {
    width: 100%;
    margin: -10px 0px -7px 0px;
    margin-bottom: 0pt;
    padding: 0pt;
}

div.omdoc-quote {
    font-size: larger;
    width: 80%;
    font-family: sans-serif;
}

div.omdoc-caption {
    font-size: smaller;
    font-style: italic;
    align: right;
}

div.omdoc-annotation {
    font-size: smaller;
    color: gray;
}

div.omdoc-ednote {
    font-size: smaller;
    background-color: red;
}

/* Module ST */
span.omdoc-titleword {
    font-weight: bold;
}

span.omdoc-titleword:after {
    content: ": ";
}

div.omdoc-titlebox {
    padding: 0pt;
}

div.theory {
    display: block;
    margin: 15px 22px;
    padding: 10px;
    border: 1px #000000 outset;
    color: #000000;
}

div.omdoc-assertion, div.omdoc-definition, div.omdoc-lemma,
div.omdoc-proof, div.omdoc-axiom, div.omdoc-symbol, div.omdoc-example {
    display: block;
    margin: 10px 0px 10px 0px;
}

div.omdoc-FMP {
    margin: 5px 0px;
}

/* Module RT */
span.omdoc-noteref:before {
    content: "[";
}

span.omdoc-noteref:after {
    content: "]";
}

span.omdoc-notenumber:before {
    content: "[";
}

span.omdoc-notenumber:after {
    content: "]";
}



/* Module PF */

div.omdoc-proof {
    width: 80%;
    margin-left: 0.5em;
    font-size: medium;
}

div.omdoc-Fitch-box {
    border-left: 2px solid black;
    margin-left: 0.2em;
}

div.omdoc-Fitch-flag {
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 0.5em;
}

span.omdoc-plineno {
    font-weight: bold;
    color: darkred;
}

span.omdoc-justification {
}

span.omdoc-justification-method {
    padding-left: 1em;
}

span.omdoc-justification-premises {
    padding-left: 1em;
}

div.omdoc-derive {
    padding-left: 1em;
}

/* Various */
div.omdoc-migration {
    color: red;
    font-size: smaller;
}

/* View Modes */
div.dontshow {
    display: none;
}

/*.selected {
    font-weight: bold;
}*/


.hidden {
    display: none;
}

.header{
    display: none;
}

.marked {
    background: #E6E6FA;
    cursor: pointer;
}

.marked2 {
    background: #FAEBD7;
    cursor: pointer;
}

.markbackground {
    background: #ececec;
}

.pointout {
    font-weight: bold;
}

.markborder {
    border-bottom-style: dashed;
    border-bottom-width: thin;
}

.link {
   display: none;
}

.satellites{
   font-style: underline italic bold;
   font-size: 90%;
   color: #4A4A4A;
}

.hdr{
background: url(http://dynamicdrive.com/cssexamples/media/square-gray-right.gif) -168px 0 no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
padding-left: 44px;
padding-top: 2px;
margin-bottom: -14px;
font-size: 90%;
color: #4A4A4A;
}

#switch .button {
  width: 70px;
  height: 15px;
  float: left;
  text-align: center;
  margin: 2px;
  padding: 2px;
  background-color: #fff;
  border-top: 3px solid #888;
  border-left: 3px solid #888;
  border-bottom: 3px solid #444;
  border-right: 3px solid #444;
}


span .ddbox:hover {
cursor: pointer;
background-position:0 -12px;
}s

span .dropdown_box_tab {
cursor: hand;
float:left;
margin-right:5px;
margin-top:5px;
}

span .ddbox{
cursor: pointer;
float:center;
height:12px;
margin-left:-4px;
margin-top:4px;
overflow:auto;
position:fixed;
width:12px;
z-index:3;
}

span.ddbox {
cursor: pointer;
background-position:0 4;
white-space: pre;
}

span.ddbox, span.ddbox:hover {
cursor: pointer;
background-image:url(http://img0.gmodules.com/ig/images/sprite_arrow_enlarge_max_min_shrink_x_blue.gif);
height:12px;
width:12px;
}

.dijitTooltipContainer{
	position: left;
}

.dijitTooltipDialog{
	position: left;
}

.dijitTooltip{
	position: left;
}