/* Derived from omdoc-cnx.css; for embedding of OMDoc fragments into SWiM */
@namespace xlink url(http://www.w3.org/1999/xlink);

/* Module MOBJ */
span.math {
    font-style: oblique;
    color: #006600;
}

div.displaymath {
    font-style: oblique;
    display: block;
    text-align: center;
    color: #006600;
}

math {
    color: #006600;
}

*[xlink|href] {
    cursor: pointer;
}

/* Module DC */
div.dc-titleblock {
    width: 100%;
    border-style: inset;
    border-color: #222222;
    border-width: 2pt;
    margin: 10px 0px 10px 0px;
    border: 0px #cc9900 solid;
    border-bottom-width: 2px;
    padding-bottom: 12px;
    line-height: normal;
}

div.dc-title {
    background-color:#6699cc;
    color: #ffffff;
    display: block;
    padding: 7px 15px 7px 15px;
    border: 0px #cc9900 solid;
    border-bottom-width: 2px;
    font-family: verdana, tahoma, century gothic, gothic l, arial, helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -2;
    text-align: left;
}

div.dc-authors:before, div.dc-date:before, div.dc-description:before {
    padding: 0px;
    margin: 0px;
    /* margin-left: -36px; */
    display: inline;
    font-weight: bold;
}

div.dc-authors:before {
    content: "Written by: ";
}

div.dc-date:before {
    content: "Date: ";
}

div.dc-description:before {
    content: "Description: ";
}

div.dc-authors, div.dc-date, div.dc-description {
    display: block;
    margin: 2px 15px;
    margin-left: 36px;
}

div.dc-authors {
    padding-top: 10px;
}

div.omdoc-titlebox {
    font-weight: bold;
}

div.omdoc-counterexample, div.omdoc-exercise {
    display: block;
    margin: 15px 72px;
    padding: 10px;
    border: 1px #000000 outset;
    color: #000000;
}

span.omdoc-titleword, div.header {
    color: #336699;
    text-transform: uppercase;
    font-weight: bold; /* redundantly stating this, needed for div.header */
    font-size: 11px;
}

/* Module DOC */
div.omdoc-omtext {
    width: 100%;
    margin: 5mm 5mm 5mm 5mm;
    margin-bottom: 0pt;
    padding: 1pt;
}

div.slide {
    width: 100%;
    margin: 5mm 5mm 5mm 5mm;
    margin-bottom: 0pt;
    border-style:solid;
    border-width:medium
    padding: 1pt;
}

div.omdoc-quote {
    font-size: larger;
    width: 80%;
    font-family: sans-serif;
}

div.omdoc-caption {
    font-size: smaller;
    font-style: italic;
    align: right;
}

div.omdoc-annotation {
    font-size: smaller;
    color: gray;
}

div.omdoc-ednote {
    font-size: smaller;
    background-color: red;
}
    
/* Module ST */
span.omdoc-titleword {
    font-weight: bold;
}

span.omdoc-titleword:after {
    content: ": ";
}

div.omdoc-titlebox {
    padding: 0pt;
}

div.omdoc-assertion, div.omdoc-definition, div.omdoc-lemma,
div.omdoc-proof, div.omdoc-axiom, div.omdoc-symbol, div.omdoc-example {
    display: block;
    margin: 10px 0px 10px 0px;
}

div.omdoc-FMP {
    margin: 5px 0px;
}

/* Module RT */
span.omdoc-noteref:before {
    content: "[";
}

span.omdoc-noteref:after {
    content: "]";
}

span.omdoc-notenumber:before {
    content: "[";
}

span.omdoc-notenumber:after {
    content: "]";
}

/* Module PF */

div.omdoc-proof {
    width: 80%;
    margin-left: 0.5em;
    font-size: medium;
}

div.omdoc-Fitch-box {
    border-left: 2px solid black;
    margin-left: 0.2em;
}

div.omdoc-Fitch-flag {
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 0.5em;
}

div.omdoc-derive {
    padding-left: 0em;
}

span.omdoc-plineno {
    font-weight: bold;
    color: darkred;
}

span.omdoc-justification {
}

span.omdoc-justification-method {
    padding-left: 1em;
}

span.omdoc-justification-premises {
    padding-left: 1em;
}

/* Various */
div.omdoc-migration {
    color: red;
    font-size: smaller;
}

table.omdoc-notation {
	border-collapse: collapse;
}

table.omdoc-notation td, table.omdoc-notation th {
	border: 1px solid;
}
